<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.w3.org/1999/xhtml" lang="en">
<head th:fragment="head (title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Partial</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/partials.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" th:href="@{/css/search.css}">
    <link th:rel="stylesheet" th:href="@{/css/iziToast.min.css}">
    <link rel="stylesheet" th:href="@{/css/authors.css}">
    <link rel="icon" href="/img/favicon-32x32.png" type="image/png">
</head>
<body>


<!------------------- NAVBAR PARTIAL --------->
<nav th:fragment="navbar" >
    <div class="navbar navbar-expand-md navbar-light fixed-top custom-bar-color">
        <div class="container">
            <a class="navbar-brand" href="#">BookAlert!</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link " href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">About</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/sign-up}">Sign-Up</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/search}">Search</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                            <a class="nav-link" th:href="@{/profile}">Profile</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" th:method="POST">
                            <button class="btn btn-link nav-" style="color: grey">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>


<!------------------------------ FOOTER PARTIAL ------>
<footer th:fragment="footer" id="main-footer" class="text-center p-1 fixed-bottom custom-bar-color pt-2 pb-2">
                <span>Contact Us: </span>
                <a href="mailto:bookalertproject@gmail.com"> <i class="fas fa-envelope-open"></i></a>
</footer>


<!-- JavaScript Bundle with Popper -->
<script th:fragment="bootstrap-j-query" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script th:fragment="bootstrap-js" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"  crossorigin="anonymous"></script>
<script th:fragment="popper-js" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script th:fragment="font-awesome-js" src="https://kit.fontawesome.com/9f18d3c3fa.js" crossorigin="anonymous"></script>

</body>
</html>