<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head('BookAlert About')">
    <title>About Us</title>

</head>
<body class="about-body">
<div class="overlay position-fixed"></div>
<nav th:replace="partials/partials.html :: navbar"></nav>
<main>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">

            </a>
        </header>
        <section id="developers" class="my-5 text-center">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="info-header mb-5">
                            <h1 class="text-light pb-3 meet-the-team">
                                Meet the Developers
                            </h1>
                            <p class="lead"></p>
                        </div>
                    </div>
                </div>
        <div class="p-5 mb-4 bg-light rounded-3 group-photo mb-5">
            <div class="container-fluid py-5">
            </div>
        </div>
                <h1 class="display-5 fw-bold text-light">
                    Our Story
                </h1>
                <p class="mb-5 text-light">
                    As Dr. Seuss once wrote, “The more that you read, the more things you will know. The more that you learn, the more places you’ll go.”
                    Diving into a good book opens up a whole world of knowledge starting from a very young age.
                    Whenever we've discovered books that we've enjoyed, we seek out similar titles written by the same author.
                    Everybody wants to get lost in their imagination!  Hence we are passionate about one's ability to identify with the characters we've grown to love and cherish.
                    We hope you have as much fun using it, as we did creating it!
                </p>



                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card bg-transparent border-light" id="team-card">
                            <div class="card-body">
                                <img src="/img/christina.jpeg" alt="" class="img-fluid rounded-circle w-50 mb-3" id="team">
                                <h3 class="text-light">Christina Nuncio</h3>
                                <h5 class="text-light">Software Developer</h5>
                                <p class="text-light">Concentration on all things front-end with a love for user experience and web design.</p>
                                <div class="d-flex justify-content-center">
                                    <div class="p-4">
                                        <a href="https://www.linkedin.com/in/christina-nuncio">
                                            <i class="fab fa-linkedin fa-2x"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="mailto:crnuncio@gmail.com">
                                            <i class="far fa-envelope fa-2x"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="https://github.com/CNuncio">
                                            <i class="fab fa-github fa-2x"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card bg-transparent border-light" id="team-card">
                            <div class="card-body">
                                <img src="/img/george_head.jpeg" alt="" class="img-fluid rounded-circle w-50 mb-3" id="team">
                                <h3 class="text-light">George Tudor</h3>
                                <h5 class="text-light">Software Developer</h5>
                                <p class="text-light">George worked in industrial sales </p>
                                <div class="d-flex justify-content-center">
                                    <div class="p-4">
                                        <a href="https://linkedin.com/in/alexander-george-tudor">
                                            <i class="fab fa-linkedin fa-2x"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="mailto:alexander.george.tudor@gmail.com">
                                            <i class="far fa-envelope fa-2x"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="https://github.com/George-Tudor">
                                            <i class="fab fa-github fa-2x"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">

                        <div class="card bg-transparent border-light"  id="team-card">
                            <div class="card-body">
                                <img src="/img/javier.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3" id="team">
                                <h3 class="text-light">Javier Guerra</h3>
                                <h5 class="text-light">Software Developer</h5>
                                <div class="d-flex justify-content-center">
                                <p class="text-light">After a 5-year career as an educator, Javier decided to pursue his dream career field in web development.
                                </p>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div class="p-4">
                                        <a href="https://linkedin.com/in/javier-guerra4">
                                            <i class="fab fa-linkedin fa-2x"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="mailto:javier.j.guerra4@gmail.com">
                                            <i class="far fa-envelope fa-2x"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="https://github.com/javierguerra4">
                                            <i class="fab fa-github fa-2x"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card bg-transparent border-light" id="team-card">
                            <div class="card-body">
                                <img src="/img/anthony.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3" id="team">
                                <h3 class="text-light">Anthony Villegas</h3>
                                <h5 class="text-light">Software Developer</h5>
                                <p class="text-light">When I'm not trying to make the web a better place, I'm here curating my list of favorite authors and titles.</p>
                                <div class="d-flex justify-content-center">
                                    <div class="p-4">
                                        <a href="https://linkedin.com/in/anthony-a-villegas">
                                            <i class="fab fa-linkedin fa-2x"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="mailto:villegasanthonya87@gmail.com">
                                            <i class="far fa-envelope fa-2x"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="https://github.com/AnthonyVillegas87">
                                            <i class="fab fa-github fa-2x"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <footer th:replace="partials/partials.html :: footer"></footer>
</main>

<script th:replace="partials/partials.html :: bootstrap-j-query"></script>
<script th:replace="partials/partials.html :: bootstrap-js"></script>
<script th:replace="partials/partials.html :: popper-js"></script>

</body>
</html>