<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head('About Page')">
    <title>About Us</title>

</head>
<body>
<nav th:replace="partials/partials.html :: navbar"></nav>
<main>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                </svg> <span class="fs-4">BookAlert</span>
            </a>
        </header>

        <div class="p-5 mb-4 bg-light rounded-3 image-1">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold text-white">About Us Picture Here</h1>
            </div>
        </div>

        <section id="developers" class="my-5 text-center">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="info-header mb-5">
                            <h1 class="text-primary pb-3">
                                Meet the Team
                            </h1>
                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Ab dolor dolore harum officia sed voluptatem voluptatum? Aliquid assumenda at, atque aut eaque eos fugiat, neque, quisquam quos reprehenderit rerum voluptatum.
                                Accusamus beatae distinctio, dolore doloribus ea eos explicabo fugit impedit inventore labore molestiae nam obcaecati omnis qui quia quisquam recusandae repudiandae sapiente soluta tempore! Doloribus labore laudantium maxime officiis omnis!
                                A culpa expedita ipsa quas.Animi aperiam, atque consectetur cum dignissimos doloremque doloribus earum fugiat ipsam labore libero minima minus nihil officia optio provident quae, quaerat quam recusandae repellat rerum sed vel voluptas voluptatem, voluptatum?</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card" id="team-card">
                            <div class="card-body">
                                <img src="/img/christina_head.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3" id="team">
                                <h3>Christina Nuncio</h3>
                                <h5 class="text-muted">Student</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, quae!</p>
                                <div class="d-flex justify-content-center">
                                    <div class="p-4">
                                        <a href="https://www.linkedin.com/in/christina-nuncio">
                                            <i class="fab fa-linkedin fa-2x"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="https://www.crnuncio@gmail.com">
                                            <i class="far fa-envelope fa-2x"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="https://github.com/CNuncio">
                                            <i class="fab fa-github fa-2x"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card" id="team-card">
                            <div class="card-body">
                                <img src="/img/george_head.jpeg" alt="" class="img-fluid rounded-circle w-50 mb-3" id="team">
                                <h3>George Tudor</h3>
                                <h5 class="text-muted">Student</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, quae!</p>
                                <div class="d-flex justify-content-center">
                                    <div class="p-4">
                                        <a href="https://linkedin.com/in/alexander-george-tudor">
                                            <i class="fab fa-linkedin fa-2x"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="https://ne0ge0@protonmail.com">
                                            <i class="far fa-envelope fa-2x"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="https://github.com/George-Tudor">
                                            <i class="fab fa-github fa-2x"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card"  id="team-card">
                            <div class="card-body">
                                <img src="/img/javier_head.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3" id="team">
                                <h3>Javier Guerra</h3>
                                <h5 class="text-muted">Student</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, quae!</p>
                                <div class="d-flex justify-content-center">
                                    <div class="p-4">
                                        <a href="https://linkedin.com/in/javier-guerra4">
                                            <i class="fab fa-linkedin fa-2x"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="far fa-envelope fa-2x"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="https://github.com/javierguerra4">
                                            <i class="fab fa-github fa-2x"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card" id="team-card">
                            <div class="card-body">
                                <img src="/img/anthony_head.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3" id="team">
                                <h3>Anthony Villegas</h3>
                                <h5 class="text-muted">Student</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, quae!</p>
                                <div class="d-flex justify-content-center">
                                    <div class="p-4">
                                        <a href="https://linkedin.com/in/anthony-a-villegas">
                                            <i class="fab fa-linkedin fa-2x"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="https://www.villegasanthonya87@gmail.com">
                                            <i class="far fa-envelope fa-2x"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="https://github.com/AnthonyVillegas87">
                                            <i class="fab fa-github fa-2x"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <footer th:replace="partials/partials.html :: footer"></footer>
</main>

<script th:replace="partials/partials.html :: bootstrap-j-query"></script>
<script th:replace="partials/partials.html :: bootstrap-js"></script>
<script th:replace="partials/partials.html :: popper-js"></script>

</body>
</html>