<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/partials.html :: head('BookAlert Home')">
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" href="/static/css/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" href="/static/css/slick-theme.css"/>

    <title>Welcome!</title>
<body>
<nav th:replace="partials/partials.html :: navbar"></nav>

<!--Home Showcase slider component   -->
    <section id="showcase">
        <div id="picCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#picCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#picCarousel" data-slide-to="1"></li>
                <li data-target="#picCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                    <div class="overlay"></div>
                <div class="carousel-item carousel-image-1 active">
                    <div class="overlay position-absolute"></div>
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block text-center mb-5">
                            <h1 class="display-3">Use your membership for in-depth searching!</h1>
                            <p class="lead">BookAlert members get exclusive access to all titles and authors they choose to find.
                                Not a member? Everyone is welcome! Sign up, and use your membership right away!</p>
                            <a th:href="@{/sign-up}" class="btn btn-danger btn-lg">Sign Up Now</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item carousel-image-2">
                    <div class="overlay position-absolute"></div>
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block text-center mb-5">
                            <h1 class="display-3">Already a member?</h1>
                            <p class="lead">Explore new releases, recent titles, and more!</p>
                            <a th:href="@{/login}" class="btn btn-info btn-lg">Login</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item carousel-image-3">
                    <div class="overlay position-absolute"></div>
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block text-center mb-5">
                            <h1 class="display-3">The BookAlert Story</h1>
                            <p class="lead">
                                We love books as much as you do, so we've created a site to help you keep track of them!</p>
                            <a th:href="@{/about}" class="btn btn-light btn-lg">About Us</a>
                        </div>
                    </div>
                </div>
            </div>

            <a href="#picCarousel" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a href="#picCarousel" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </section>

<!--Home section with icons-->
<section id="home-icons" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 text-centered">
                <i class="fas fa-book-open fa-3x mb-2"></i>
                <h3>Search your favorites</h3>
                <p>Find authors and titles for readers of all ages.</p>
            </div>
            <div class="col-md-4 mb-4 text-centered">
                <i class="fas fa-list-ul fa-3x mb-2"></i>
                <h3>Make A List</h3>
                <p>View your very own library designed to spur discovery. We've created a few features to help you keep track of what you find and love most!</p>
            </div>
            <div class="col-md-4 mb-4 text-centered">
                <i class="fas fa-exclamation fa-3x mb-2"></i>
                <h3>Stay Current</h3>
                <p>First and foremost, this is YOUR library. After you discover what you love, we'll keep you updated!</p>
            </div>
        </div>
    </div>
</section>

<!--Home Heading Section Intro -->
<section id="home-heading" class="p-5">
    <div class="dark-overlay">
        <div class="row">
            <div class="col">
                <div class="container p-5">
                    <h1>Are You Ready To Get Started?</h1>
                    <p class="d-none d-md-block">Discover your next favorite books or author! Explore a selection of new releases, trending titles, and classics curated just for you.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="partials/partials.html :: footer"></footer>
<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/js/slick.js"></script>
<script th:replace="partials/partials.html :: bootstrap-j-query"></script>
<script th:replace="partials/partials.html :: popper-js"></script>
<script th:replace="partials/partials.html :: bootstrap-js"></script>
<script th:src="@{/js/profile.js}"></script>

</body>
</html>