<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<link rel="stylesheet" href="/css/login.css">
<head th:replace="partials/partials.html :: head('BookAlert Login')">
    <title>Login</title>
<body class="log-in-page" style="padding-top: 100px">
<div class="overlay position-fixed"></div>
<nav th:replace="partials/partials.html :: navbar"></nav>
<main class="container container-fluid pt-5">
    <div class="column">

    <h1 class="text-center" style="color: white; text-align: center">Log In</h1>

    <div th:if="${param.error}" class="text-center" style="color: palevioletred">
        Invalid Username and Password.
    </div>
    <div th:if="${param.logout}" class="text-center" style="color: lightskyblue">
        You have been logged out.
    </div>

    <div class="container" style="width: 50%;">

        <form class="row g-3 float-md-none ml-2" th:action="@{/login}" method="POST" >
            <div class="col-md-12">
                <div class="username-styling">
                <label for="validationServerUsername" class="form-label text-center" style="color: white">Username</label>
            </div>
                <div>
                    <input type="text" class="text-light form-control border-light bg-transparent text-center" id="validationServerUsername" placeholder="Enter your Username"
                           aria-label="Enter your Username" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" name="username">
                </div>
            </div>
            <div class="col-md-12">
                <label for="validationServer03" class="form-label mt-2" style="color: white">Password</label>
                <input type="text" class="text-light form-control border-light bg-transparent text-center" id="validationServer03" placeholder="Enter your Password"  aria-label="Enter your Password" aria-describedby="inputGroupPrepend3 validationServerPasswordFeedback"
                       name="password">
            </div>

            <div class="col-12 text-center mt-4">
                <button class="btn btn-outline-light" type="submit">Login</button>
            </div>
        </form>

    </div>
    </div>
</main>



<footer th:replace="partials/partials.html :: footer"></footer>
<script th:replace="partials/partials.html :: bootstrap-j-query"></script>
<script th:replace="partials/partials.html :: popper-js"></script>
<script th:replace="partials/partials.html :: bootstrap-js"></script>

<!--<script>-->
<!--   // Example starter JavaScript for disabling form submissions if there are invalid fields...-->
<!--    (function () {-->
<!--        'use strict'-->

<!--        // Fetch all the forms we want to apply custom Bootstrap validation styles to-->
<!--        var forms = document.querySelectorAll('.needs-validation')-->

<!--        // Loop over them and prevent submission-->
<!--        Array.prototype.slice.call(forms)-->
<!--            .forEach(function (form) {-->
<!--                form.addEventListener('submit', function (event) {-->
<!--                    if (!form.checkValidity()) {-->
<!--                        event.preventDefault()-->
<!--                        event.stopPropagation()-->
<!--                    }-->

<!--                    form.classList.add('was-validated')-->
<!--                }, false)-->
<!--            })-->
<!--    })()-->
</script>
</body>
</html>