<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head('Profile')">
    <title>User Profile</title>

<body>
<script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
    <nav th:replace="partials/partials.html :: navbar"></nav>
    <h1>Welcome to your profile!</h1>
    <div class="d-flex">
        <div id="authorLibrary">
            <h3>Your Authors</h3>
            <ul th:each="author : ${authors}">
                <a th:href="@{'/authors/' + ${author.id}}"><li th:text="${author.name}"></li></a>
            </ul>
        </div>
        <div class="d-flex flex-wrap flex-grow-1">
            <!--bootstrap card with 3 horizontal images-->
            <div class="new-release-card p-2" th:each="book : ${newReleases}">
                <div class="card p-1 text-center">
                    <a th:href="@{'/book/' + ${book.id}}"><img class="mw-100 mh-100" th:src="${book.artwork_url}"></a>
                    <p th:text="${book.release_date}"></p>
                    <button type="button" class="btn btn-outline-danger btn-sm dismiss-new-release" th:data-book-id="${book.id}">Dismiss</button>
                    <button type="button" class="btn btn-outline-primary btn-sm save-book" th:data-book-id="${book.id}">Save</button>
                    <a target="_blank" class="btn btn-outline-success btn-sm purchase-book" th:href="${book.itunes_url}" role="button">Buy from iTunes</a>
                    <button type="button" class="btn btn-outline-info btn-sm mark-purchased" th:data-book-id="${book.id}">Purchased</button>
                </div>
            </div>
        </div>
    </div>



<hr>
<footer th:replace="partials/partials.html :: footer"></footer>
<button id="demoButton" type="button"></button>
<script th:replace="partials/partials.html :: bootstrap-j-query"></script>
<script th:replace="partials/partials.html :: popper-js"></script>
<script th:replace="partials/partials.html :: bootstrap-js"></script>
<script th:src="@{/js/profile.js}"></script>
</body>
</html>