<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/partials.html :: head('BookAlert User Profile')">
    <title>User Profile</title>

<body class="profile-body">
<div class="overlay position-fixed"></div>

<main>
    <nav th:replace="partials/partials.html :: navbar"></nav>
    <h1 class="text-center text-light">Welcome to your profile <span th:text="${user.first_name}">User</span>!</h1>


    <div class="mb-5 justify-content-center d-flex">
        <div class="px-4">
            <div class="card card-accent-dark mb-3" id="authorLibrary" style="width: 240px;">
                <div class="card-header text-center">Your Authors</div>
                <div class="card-body text-dark">
                    <th:block th:if="${#lists.isEmpty(authors)}" class="lead">List of Authors is empty, <a
                            th:href="@{/search}">search</a> authors and add to your list!
                    </th:block>

                    <div th:each="author : ${authors}">
                        <a th:href="@{'/authors/' + ${author.id}}" th:text="${author.name}"></a>
                        <hr>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-grow-1 px-4" style="max-width: 1200px">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="saved-tab" data-toggle="tab" href="#profileSavedBooks" role="tab"
                       aria-controls="home" aria-selected="true">
                        <span class="badge badge-pill badge-secondary">1 </span> Saved Titles
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="new-tab" data-toggle="tab" href="#profileNewReleases" role="tab"
                       aria-controls="profile" aria-selected="false">
                        <span class="badge badge-pill badge-secondary">2 </span> New Releases
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="upcoming-tab" data-toggle="tab" href="#profileUpcomingReleases" role="tab"
                       aria-controls="contact" aria-selected="false">
                        <span class="badge badge-pill badge-secondary">3 </span> Upcoming Releases
                    </a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active bg-light rounded-bottom"
                     id="profileSavedBooks"
                     role="tabpanel"
                     aria-labelledby="home-tab">
                </div>

                <div class="tab-pane fade bg-light rounded-bottom"
                     id="profileNewReleases"
                     role="tabpanel"
                     aria-labelledby="profile-tab">
                </div>

                <div class="tab-pane fade bg-light rounded-bottom"
                     id="profileUpcomingReleases"
                     role="tabpanel"
                     aria-labelledby="contact-tab">
               </div>
           </div>
       </div>
    </div>


</main>
<footer th:replace="partials/partials.html :: footer"></footer>
<script th:src="@{/js/iziToast.min.js}"></script>
<button id="demoButton" type="button"></button>
<script th:replace="partials/partials.html :: bootstrap-j-query"></script>
<script th:replace="partials/partials.html :: popper-js"></script>
<script th:replace="partials/partials.html :: bootstrap-js"></script>
<script th:src="@{/js/profile.js}"></script>
</body>
</html>