<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head('Search Page')">
    <title>Search!</title>
    <link th:rel="stylesheet" th:href="@{/css/iziToast.css/iziToast.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

<body>
<nav th:replace="partials/partials.html :: navbar"></nav>

        <div class="col-md-4">
            <h3><label for="authorSearchInput" class="form-label">Search by Author</label></h3>
            <input type="text" id="authorSearchInput" class="form-control is-valid" placeholder="Enter an author's name" >
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="button" id="authorSearch">Search Authors</button>
            </div>
            <div id="authorResults" onClick="location.href='/authors/{id}'" th:object="${user}" th:if="${!user.exists}">
<!--                <div class="nonUserSearch" th:object="${user}" th:if="${!user.exists}"></div>-->
            </div>
        </div>
<div>
    <div class="errorMsg" th:if="${param.exists}">
        <p>Author currently exists</p>
    </div>
</div>
<div>
    <div class="errorMsg" th:if="${param.saved}">
        <p>Author has been added</p>
    </div>
</div>
<!--        <div th:if="${!param.isEmpty()}">-->
<!--          -->
<!--        </div>-->

        <div class="col-md-4">
            <h3><label for="titleSearchInput" class="form-label">Search by Title</label></h3>
            <input type="text" id="titleSearchInput" class="form-control is-valid"  placeholder="Enter a book title" >
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="button" id="titleSearch">Search Title</button>
            </div>
            <div id="titleResults" class="row container">

            </div>
        </div>
<script th:src="@{/js/iziToast.min.js}"></script>
<script th:replace="partials/partials.html :: bootstrap-j-query"></script>
<script th:replace="partials/partials.html :: popper-js"></script>
<script th:replace="partials/partials.html :: bootstrap-js"></script>
<script th:src="@{/js/search.js}"></script>




</body>
</html>