<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head('Search Page')">
    <title>Search!</title>

<body>
<nav th:replace="partials/partials.html :: navbar"></nav>

        <div class="col-md-4">
            <h3><label for="authorSearchInput" class="form-label">Search by Author</label></h3>
            <input type="text" id="authorSearchInput" class="form-control is-valid" placeholder="Enter an author's name" >
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="button" id="authorSearch">Search Authors</button>
            </div>
            <div id="authorResults">

            </div>
        </div>
        <div class="col-md-4">
            <h3><label for="titleSearchInput" class="form-label">Search by Title</label></h3>
            <input type="text" id="titleSearchInput" class="form-control is-valid"  placeholder="Enter a book title" >
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="button" id="titleSearch">Search Title</button>
            </div>
            <div id="titleResults">

            </div>
        </div>
    <div>
        <h3>Author Name: </h3>
        <div class="col-12">
            <button class="btn btn-primary" type="button">Add Author</button>
        </div>
        <img src="#" class="img-thumbnail" alt="img">
        <div class="card border-info mb-3" >
            <div class="card-header">Author's Bio:</div>
            <div class="card-body">
                <h5 class="card-title">Author Info</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>


<!--<div>-->
<!--        <div class="card" style="width: 18rem;">-->
<!--            <img src="..." class="card-img-top" alt="...">-->
<!--            <div class="card-body">-->
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. ex: book synopsis/summary</p>-->
<!--            </div>-->
<!--            <div class="btn-group">-->
<!--            <button type="button" class="btn btn-info dropdown-toggle"data-bs-toggle="dropdown" aria-expanded="false">Book Info</button>-->
<!--            <ul class="dropdown-menu">-->
<!--                <li><a class="dropdown-item" href="#">Author:</a></li>-->
<!--                <li><a class="dropdown-item" href="#">Date Published:</a></li>-->
<!--                <li><a class="dropdown-item" href="#">Genre:</a></li>-->
<!--                <li><hr class="dropdown-divider"></li>-->
<!--                <li><a class="dropdown-item" href="#">Separated link</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        </div>-->
<!--    </div>-->


<script th:replace="partials/partials.html :: bootstrap-j-query"></script>
<script th:replace="partials/partials.html :: popper-js"></script>
<script th:replace="partials/partials.html :: bootstrap-js"></script>
<script th:src="@{/js/search.js}"></script>

</body>
</html>