<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head('Sign-Up Page')">
    <title>Please sign up!</title>
<body>

<nav th:replace="partials/partials.html :: navbar"></nav>


<h1>Sign Up To BookAlert</h1>
<form class="row g-3" th:action="@{/sign-up}" method="POST" th:object="${user}">
    <div class="col-md-4">
        <label for="firstName" class="form-label">First name</label>
        <input th:field="*{first_name}" type="text" class="form-control" id="firstName" value="Mark" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-md-4">
        <label for="lastName" class="form-label">Last name</label>
        <input th:field="*{last_name}" type="text" class="form-control" id="lastName" value="Otto" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-md-4">
        <label for="username" class="form-label">Username</label>
        <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend3">@</span>
            <input th:field="*{username}" type="text" class="form-control" id="username" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                Please choose a username.
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input th:field="*{email}" type="text" class="form-control" id="email" aria-describedby="validationServer03Feedback" required>
        <div id="validationServer03Feedback" class="invalid-feedback">
            Please provide a valid email.
        </div>
    </div>
    <div class="col-md-6">
        <label for="password" class="form-label">Password</label>
        <input th:field="*{password}" type="text" class="form-control" id="password" aria-describedby="validationServer04Feedback" required>
        <div id="validationServer04Feedback" class="invalid-feedback">
            Please provide a valid password.
        </div>
    </div>

    <div class="col-md-6">
        <label for="confirmPassword" class="form-label">Confirm password</label>
        <input type="text" class="form-control" id="confirmPassword" aria-describedby="validationServer05Feedback" required>
        <div id="validationServer05Feedback" class="invalid-feedback">
            Please provide a valid password.
        </div>
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
            <label class="form-check-label" for="invalidCheck3">
                Agree to terms and conditions
            </label>
            <div id="invalidCheck3Feedback" class="invalid-feedback">
                You must agree before submitting.
            </div>
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Sign up!!</button>
    </div>
</form>


<script th:replace="partials/partials.html :: bootstrap-js"></script>
<script th:replace="partials/partials.html :: bootstrap-j-query"></script>
</body>
</html>