body.about-body{
    background-size: cover;
    height: 100%;
    background: url(../img/img9.jpg) no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fab, .fa {
    color: white;
}

.fa {
    transform: rotate(315deg);
}

.story {
    font-family: Baskerville, Serif, sans-serif;
    font-size: 22px;
}