body {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

main {
    flex: 1 0 auto;
}

#demoButton {
    height: 100px;
    width: 100px;
    opacity: 0;
    position: fixed;
    bottom: 0;
    right: 0;
}

/*#authorLibrary {*/
/*    width: 420px;*/
/*}*/

.new-release-card {
    height: 430px;
    width: 150px;
}
/* Saved books section*/
.saved-book-card {
    height: 430px;
    width: 150px;
}

.upcoming-book-card {
    height: 430px;
    width: 150px;
}

