body.profile-body {
    background-size: cover;
    height: 100%;
    background: url(../img/big-library.jpg) no-repeat;
}

#demoButton {
    height: 100px;
    width: 100px;
    opacity: 0;
    position: fixed;
    bottom: 0;
    right: 0;
}

img.book-cover {
    height: 250px;
}

.authors-body img.book-cover {
    margin-left: -100%;
    margin-right: -100%;
}
