body.profile-body {
    background-size: cover;
    height: 100%;
    padding-top: 58px;
    background: url(../img/big-library.jpg) no-repeat;
}


#profilePage {
    /*top: 0;*/
    /*left: 0;*/
    width: 100%;
    height: 100%;
    padding-bottom: 450px;
}

#demoButton {
    height: 100px;
    width: 100px;
    opacity: 0;
    position: fixed;
    bottom: 0;
    right: 0;
}

.new-release-card {
    height: 430px;
    width: 150px;
}

/* Saved books section*/
.saved-book-card {
    height: 430px;
    width: 150px;
}

.upcoming-book-card {
    height: 430px;
    width: 150px;
}

