.add-author {
    cursor: pointer;
}

.add-author-button {
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    box-shadow: inset -1px -1px 3px 1px #434a50;
}

.add-author-button-checked {
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px;
    box-shadow: inset -1px -1px 3px 1px #434a50;
}
/*404 STYLING*/
.titleMessage {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
    background-image: url("../img/RPO.jpeg");

}

.titleMessage .error-heading p {
    color: navy;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
    padding-bottom: 15px;
}

.titleMessage .error-heading .four-main {
    font-size: 40px;
}

.titleMessage .error-heading .sub {
    font-size: 25px;
    height: 100px;
}

.title-card-contents {
    height: 200px;
}

.ned {
    margin-top: 80px;
}