body.search-page {
    background: url("../img/dewey.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.search-page ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 1;
}



