.add-author {
    cursor: pointer;
}

.add-author-button {
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    box-shadow: inset -1px -1px 3px 1px #434a50;
}

.add-author-button-checked {
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px;
    box-shadow: inset -1px -1px 3px 1px #434a50;
}
