body.sign-up-page {
    background: url("../img/curvedhallway.jpg") center/cover;
    background-repeat: no-repeat;
}

.sign-up-page ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 1;
}