
body.sign-up-page {
    background: url("../img/img12.jpeg") center/cover;
    background-repeat: no-repeat;
}

.sign-up-page ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 1;
}

/*#sign-up-bg {*/
/*    background: url("../img/curvedhallway.jpg");*/

/*}*/

/* body {
    margin: 0;
    min-height: 100%;
}

html {
    height: 100%;
}
>>>>>>> main
