.form-label1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-label2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitBtn1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitBtn2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-12 {
    width: 5%;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
